@font-face {
    font-family: 'avante';
    src: url('../fontes/avante.ttf') format('truetype');
}

@font-face {
    font-family: 'bebas';
    src: url('../fontes/bebas.ttf') format('truetype');
}

:root {
    --amber: #ffc802 !important;
}

body {
    background-color: #000;
    background-image: url('../img/bg.jpg');
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    font-family: '----------------------------------------------------------------------bel';
}


/** Header */

.navbar .navbar-main {
    background: transparent;
    border-bottom: 1px solid var(--amber);
}

.nav-wrapper .header .page-title {
    width: auto;
}

.nav-wrapper .header .page-title .title {
    color: var(--white);
    text-transform: inherit;
    padding-right: 0;
    font-size: 32px;
    font-family: 'avante';
}


/** Search */

.navbar .header-search-wrapper {
    background: transparent;
    margin: 0;
    padding: 0;
    align-items: center;
    transition: none;
}

.navbar input.header-search-input:active,
.navbar input.header-search-input:focus {
    background: transparent !important;
}

.navbar .header-search-wrapper input {
    height: inherit;
    border-radius: 0 !important;
    border-color: inherit !important;
    background: transparent !important;
    box-shadow: none !important;
    margin: 0;
    padding-left: 100px;
    color: #fff;
    font-size: 32px;
    font-family: 'avante' !important;
}

.navbar .header-search-wrapper label i {
    cursor: pointer;
}

.navbar .header-search-wrapper-focus {
    background-color: #000 !important;
}

.navbar .header-search-wrapper-focus input:focus,
.navbar .header-search-wrapper-focus label i {
    background: transparent !important;
    color: #fff !important;
    cursor: text;
}


/** Logo **/

.brand-sidebar {
    height: 120px !important;
}

.brand-sidebar h1 {
    text-align: center;
    padding: 20px;
}

.brand-sidebar img {
    width: 180px;
}

.brand-sidebar,
.sidenav {
    box-shadow: none !important;
}


/** Menu **/

.sidenav-main {
    z-index: 9999;
}

.sidenav-main ul {
    top: 80px;
    padding-left: 30px;
    padding-right: 20px;
}

.sidenav-main ul>li {
    margin-bottom: 2px;
    border-radius: 0 !important;
    border-left-color: var(--black) !important;
    border-left-width: 10px;
    border-left-style: solid;
}

.sidenav li a {
    font-size: 18px;
    font-weight: bold;
    height: 54px;
    line-height: 54px;
    background: var(--amber);
    transition: all .5s ease !important;
    -moz-transition: all .5s ease !important;
    -webkit-transition: all .5s ease !important;
}

.sidenav li.active a {
    box-shadow: 0px 3px 20px 0 rgba(0, 0, 0, 0.5);
}

.sidenav li.active a,
.sidenav li>a:not(.active):hover {
    color: var(--amber) !important;
    padding-left: 30px !important;
    background: var(--black) !important;
    border-radius: 0 !important;
    /* border-left-color: var(--amber) !important; */
}

.sidenav li>a>i.material-icons {
    line-height: inherit !important;
    height: inherit;
}


/** Panel */

.panel {
    background-color: transparent;
    padding: 30px;
}

.panel-header {
    background-color: transparent;
    border-bottom: 1px solid var(--amber);
}

.panel-body {
    top: 80px;
    position: absolute;
    left: 30px;
    right: 0;
}


/** Fields */

.input-field input,
.input-field textarea {
    background-image: linear-gradient(var(--amber), var(--amber)), linear-gradient(#d9d9d9, #d9d9d9) !important;
    color: var(--amber) !important;
}

.input-field label {
    color: var(--amber) !important;
}


/** Login */

#login-page {
    background-color: #000;
    background-image: url('../img/bg_login.jpg');
    background-position: -232px center;
    background-repeat: no-repeat;
    height: 100vh;
}

#login-page .tacticweb {
    align-items: start center;
    display: flex;
    flex-direction: column;
    padding-left: 145px;
    position: fixed;
    display: flex;
    top: 0;
    bottom: 0;
    height: calc(100vh - 1px);
}

#login-page .logo {
    line-height: 1;
    padding: 0;
    margin: 0;
    margin-top: 50px;
    margin-left: -45px;
    margin-bottom: 60px;
}

#login-page .tacticweb .title-1 {
    font-family: 'Abel';
    color: #fff;
    font-size: 38px;
    line-height: 1;
    padding: 0;
    margin: 0;
    margin-bottom: 20px !important;
}

#login-page .tacticweb .title-2 {
    font-family: 'bebas';
    color: #fff;
    font-size: 48px;
    padding: 0 !important;
    margin: 0 !important;
    line-height: 1;
}

#login-page .login-form {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0px;
    background-color: #fff;
}

#login-page #frm-login {
    margin-top: 40px;
}

@media (min-width: 601px) and (max-width: 880px) {
    #login-page .logo {
        width: 200px;
    }
    #login-page .tacticweb {
        padding-left: 30px;
    }
}

@media screen and (max-width: 880px) {
    #login-page .tacticweb {
        padding-left: 50px;
    }
}

@media screen and (min-width: 881px) and (max-width: 980px) {
    #login-page .tacticweb {
        padding-left: 110px;
    }
}